
.table-view .column-header {
    -fx-cell-size: 40px;
    -fx-font-size: 24px;
    -fx-font-family: "Impact";
    -fx-alignment: center;

}


.table-row-cell {
    -fx-cell-size: 45px;
    -fx-font-size: 24px;
    -fx-font-family: "Impact";
    -fx-alignment: bottom-left;
}